
.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #39445a;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7rem;
    padding: 1rem 0;
    box-shadow: 0 1px 5px #000;
    color: #fff;
    z-index: 100;
}

